
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
.back{
  background-position: right top;
}
a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.main-header {
  width: 100%;
  background-color: rgb(232, 48, 21);
  position: relative;
  transform: translateY(-100%);
  transition: 1s;
}

#navbarToggle {
  display: none;
}

#navbarToggle:checked~.main-header {
  transform: translateY(0);
}

.container {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.main-header h1 {
  line-height: 60px;
  margin: 0 15px;
}

.main-menu {
  display: flex;
  position: relative;
}

.main-menu li {
  position: relative;
  transition: .5s;
}

.main-menu li a {
  padding: 0 15px;
  line-height: 60px;
}

.main-menu>li::after {
  content: '';
  position: absolute;
  height: 4px;
  left: 50%;
  right: 50%;
  bottom: 0;
  background-color: #fff;
  transition: .5s;
}

.main-menu li:hover {
  background-color: rgb(176, 41, 20);
}

.main-menu>li:hover::after {
  left: 0;
  right: 0;
}

.sub-menu {
  position: absolute;
  left: 50%;
  background-color: rgba(232, 48, 21, 0.8);
  width: 150%;
  text-align: center;
  transform: translateX(-50%);
  display: none;
}

.main-menu li:hover .sub-menu {
  display: block;
}

label {
  color: #fff;
  display: inline-block;
  background-color: rgb(232, 48, 21);
  position: absolute;
  bottom: 0;
  right: 20px;
  transform: translateY(100%);
  border-radius: 0 0 6px 6px;
  cursor: pointer;
}

.material-icons {
  transform: rotate(0);
  transition: .6s;
}

#navbarToggle:checked~.main-header .material-icons {
  transform: rotate(180deg);
}

@keyframes change-color{
    14%{color:red;}
    28%{color:orange;}
    42%{color:rgb(230, 230, 70);}
    56%{color:lightgreen;}
    70%{color:blue;}
    84%{color:blueviolet;}
    100%{color:purple;}
}
@keyframes move{
    0%{left:0px}
    20%{left:200px;}
    40%{left:400px;}
    60%{left:600px;}
    80%{left:800px;}
    100%{left:953px;}
}
.newbtn{
    cursor: pointer;
    border:0 ;
    width: 100px;
    height: 100px;
    background-color: white;
    background-image: url(https://i.imgur.com/Tab0JhQ.png);
    background-size: cover;
}
.newbtn2{
    cursor: pointer;
    border:0 ;
    width: 100px;
    height: 100px;
    background-color: white;
    background-image: url(https://i.imgur.com/0X9YDqW.png);
    background-size: cover;
}
img:hover {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
}


 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .vibrate-1 {
    -webkit-animation: vibrate-1 0.5s infinite ;
            animation: vibrate-1 0.5s infinite ;
  }
 
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}


  .copyright {
    background-color: #0a090c;
    padding: 5px 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
  }
  ul li{
    list-style-type:none ;
  }
  .rotate-center:hover {
    -webkit-animation: rotate-center 0.6s ;
            animation: rotate-center 0.6s ;
  }

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


