@keyframes change-color{
    14%{color:red;}
    28%{color:orange;}
    42%{color:rgb(230, 230, 70);}
    56%{color:lightgreen;}
    70%{color:blue;}
    84%{color:blueviolet;}
    100%{color:purple;}
}
@keyframes move{
    0%{left:0px}
    20%{left:200px;}
    40%{left:400px;}
    60%{left:600px;}
    80%{left:800px;}
    100%{left:953px;}
}
.newbtn{
    cursor: pointer;
    border:0 ;
    width: 100px;
    height: 100px;
    background-color: white;
    background-image: url(https://i.imgur.com/Tab0JhQ.png);
    background-size: cover;
}
.newbtn2{
    cursor: pointer;
    border:0 ;
    width: 100px;
    height: 100px;
    background-color: white;
    background-image: url(https://i.imgur.com/0X9YDqW.png);
    background-size: cover;
}
font{
    animation-name:change-color;
    animation-duration:1s;
    animation-iteration-count:infinite;
}

img {
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.img1:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}
